[Desktop Entry]
Name=CachyOS PostInstall
Name[ar]=CachyOS PostInstall
Name[bg]=CachyOS PostInstall
Name[ca]=CachyOS PostInstall
Name[et]=CachyOS PostInstall
Name[eu]=CachyOS PostInstall
Name[fa]=CachyOS PostInstall
Name[fi]=CachyOS PostInstall
Name[he_IL]=CachyOS PostInstall
Name[hi]=CachyOS PostInstall
Name[hr]=CachyOS PostInstall
Name[id]=CachyOS PostInstall
Name[is]=CachyOS PostInstall
Name[kk]=CachyOS PostInstall
Name[ko]=CachyOS PostInstall
Name[mk]=CachyOS PostInstall
Name[mr]=CachyOS PostInstall
Name[nb]=CachyOS PostInstall
Name[sq]=CachyOS PostInstall
Name[sr]=CachyOS PostInstall
Name[uk]=CachyOS PostInstall
Name[zh_CN]=CachyOS PostInstall
Comment=Simple Software Application Package Installer
Exec=pkexec cachyos-pi --xdg-desktop=$XDG_CURRENT_DESKTOP --setupmode
Icon=cachyos-pi
NoDisplay=false
Categories=System;CachyOS-Software;
Type=Application
