[Desktop Entry]
Name=MX Package Installer
Name[de]=MX Paket-Installer
Name[es]=MX Instalador de Paquetes 
Name[fr]=MX Installeur de logiciels 
Name[it]=MX Installazione di pacchetti 
Name[nl]=MX pakket installeerder
Name[sv]=MX Paket-installerare
Name[el]=Εγκατάσταση πακέτων του MX
Name[ja]=MX パッケージインストーラー
Comment=Simple Package Installer
Comment[de]=einfache Paket-Installation
Comment[es]=Instalador de paquetes simple
Comment[fr]=Installation simple de logiciels
Comment[it]=Installazione semplice di pachetti
Comment[nl]=eenvoudige pakket installeerder
Comment[sv]=Enkel Paket-installerare
Comment[el]=Απλή εγκατάσταση πακέτων
Comment[ja]=シンプルなパッケージインストーラー
Exec=gksu mx-packageinstaller
Icon=/usr/share/pixmaps/mx/mx-packageinstaller.png
NoDisplay=false
Categories=System;
Type=Application
