[Desktop Entry]
Name=MX Package Installer
Name[am]=MX ጥቅል መግጠሚያ
Name[ca]=MX Package Installer
Name[cs]=MX Instalátor softvéru
Name[da]=MX Pakkeinstallationsprogram
Name[de]=MX Paket-Installer
Name[el]=Εγκατάσταση πακέτων του MX
Name[es]=MX Instalar Paquetes
Name[fi]=MX Package Installer
Name[fr]=MX Installateur de paquets
Name[hi]=MX Package Installer
Name[hr]=MX Package Installer
Name[hu]=MX csomagtelepítő
Name[is]=MX Package Installer
Name[it]=MX Installa Programmi
Name[ja]=MX パッケージインストーラー
Name[kk]=MX Package Installer
Name[lt]=MX paketų diegimo programa
Name[nl]=MX pakket installeerder
Name[pl]=MX Package Installer
Name[pt_BR]=MX Gestor de Software
Name[pt]=MX-Instalador de Pacotes
Name[ro]=MX Instalator Programe
Name[ru]=MX Установщик пакетов
Name[sk]=MX Inštalátor programov
Name[sq]=MX Package Installer
Name[sv]=MX Paket-installerare
Name[tr]=MX Paket Yükleyici
Name[uk]=MX Package Installer
Name[zh_TW]=MX 安裝軟體
Comment=Simple Package Installer
Comment[am]=ቀላል ጥቅል መግጠሚያ
Comment[ca]=Instal·lador senzill de paquets
Comment[cs]=Instaluje programy
Comment[da]=Simpelt pakkeinstallationsprogram
Comment[de]=einfache Installation von Paketen
Comment[el]=Απλή εγκατάσταση πακέτων
Comment[es]=Instalador de paquetes simple
Comment[fi]=Simple Package Installer
Comment[fr]=Installateur simple pour paquets supplémentaires
Comment[hi]=Simple Package Installer
Comment[hr]=Simple Package Installer
Comment[hu]=Egyszerű csomagtelepítő
Comment[is]=Simple Package Installer
Comment[it]=Installazione semplice di pacchetti software
Comment[ja]=シンプルなパッケージインストーラー
Comment[kk]=Simple Package Installer
Comment[lt]=Paprasta paketų diegimo programa
Comment[nl]=Eenvoudige Pakket Installeerder
Comment[pl]=Simple Package Installer
Comment[pt_BR]=Instalar/desinstalar software de forma simples e prática [mx-packageinstaller]
Comment[pt]=Instalar/desinstalar software de forma simples e prática [mx-packageinstaller]
Comment[ro]=Instalator de programe adiționale
Comment[ru]=Простая установка пакетов
Comment[sk]=Jednoducho inštalovať programy
Comment[sq]=Simple Package Installer
Comment[sv]=Enkel Paket-installerare
Comment[tr]=Simple Package Installer
Comment[uk]=Simple Package Installer
Comment[zh_TW]=簡單的軟體安裝工具
Exec=su-to-root -X -c mx-packageinstaller
Icon=mx-packageinstaller
NoDisplay=false
Categories=System;MX-Software;
Type=Application


