[Desktop Entry]
Name=MX Package Installer
Name[de]=MX Paket-Installer
Name[el]=Εγκατάσταση πακέτων του MX
Name[es]=MX Instalador de Paquetes
Name[ja]=MX パッケージインストーラー
Name[nl]=MX pakket installeerder
Name[ro]=MX Instalator Programe
Name[sv]=MX Paket-installerare
Comment=Simple Package Installer
Comment[de]=einfache Paket-Installation
Comment[el]=Απλή εγκατάσταση πακέτων
Comment[es]=Instalador de paquetes simple
Comment[ja]=シンプルなパッケージインストーラー
Comment[nl]=eenvoudige pakket installeerder
Comment[ro]=Instalator de programe adiționale
Comment[sv]=Enkel Paket-installerare
Exec=su-to-root -X -c mx-packageinstaller
Icon=/usr/share/pixmaps/mx/mx-packageinstaller.png
NoDisplay=false
Categories=System;
Type=Application
