Source: mx-packageinstaller
Section: admin
Priority: optional
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Build-Depends: qt4-qmake,
	debhelper (>=7.0.50~),
	libqtwebkit-dev
Standards-Version: 3.9.5
Vcs-Git: git://github.com/AdrianTM/mx-packageinstaller

Package: mx-packageinstaller
Architecture: any
Depends: ${misc:Depends}, ${shlib:Depends}
Description: MX program for installing additional packages.
 MX-packageinstaller is a program used for installing additional packages.
